@using SFBlog.DAL.Models
@model List<User>

@{
	ViewData["Title"] = "Пользователи";
}

<h5 class="card-title">Все пользователи</h5>
<div class="card w-75">
@foreach (var user in Model)
{
	 <h5 class="card-title">@user.LastName @user.FirstName</h5>
        <P>
            <span>
                Роли: @user.Roles
            </span>
        </P>
        <P>
            <span>
                Посты: @user.Posts
            </span>
        </P>
        <div>
            <a class="btn btn-outline-info button" method="get" asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id">Редактировать</a>
            <a class="btn btn-outline-secondary" method="get" asp-controller="User" asp-action="DetailsUser" asp-route-id="@user.Id">Просмотреть</a>
            <a class="btn btn-outline-danger button" method="post" asp-controller="User" asp-action="RemoveUser" asp-route-id="@user.Id">Удалить</a>
        </div>
}
</div>