@using SFBlog.BLL.ViewModel
@using SFBlog.DAL.Models
@model List<PostsViewModel>

@{
	ViewData["Title"] = "Посты";
}

<div class="container-page">
    <h2>Все посты</h2>
    <p>
        <a class="link-primary" style="text-decoration:none" method="get" asp-controller="Post" asp-action="CreatePost">Добавить Пост</a>
    </p>
</div>

@foreach (var post in Model)
{
    <div class="card col col-md-12 col-xs-12 col-sm-12 col-lg-12">
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <h6 class="card-subtitle">@post.User.UserName</h6>
            <a class="card-link link-primary" style="text-decoration:none" method="get" asp-controller="Post" asp-action="GetPost" asp-route-id="@post.Id">Просмотреть</a>
            <a class="card-link link-primary" style="text-decoration:none" method="get" asp-controller="Post" asp-action="EditPost" asp-route-id="@post.Id">Редактировать</a>
            <a class="card-link link-danger" style="text-decoration:none" method="post" asp-controller="Post" asp-action="RemovePost" asp-route-id="@post.Id">Удалить</a>
        </div>
    </div>
}
